# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
instance/

# React
client/node_modules/
client/.pnp
client/.pnp.js
client/coverage/
client/build/
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.flaskenv

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
